body {
    background: #1e90ff;
}
.top-nav {
    width: 100%;
    background: #474747;
}
.main-nav { 
    width: 100%;
    padding: 15px;
    background: #5e5e5e;
}

.top-nav a {
    color: #f0f0f0;
}

.nav-left ul {
    padding-top: 8px;
    padding-left: 0px;
    text-align: left;
}

.nav-right {
    font-size: 18px;
}

.nav-right ul {
    padding-top: 8px;
    text-align: right;
}

.main-nav-left {
    /*position: absolute;*/
    left: 0;
    padding-left: 0px;

}

.main-nav-left ul {
    padding-top: 15px;
    text-align: left;
}

.main-nav-left li {
    padding-right: 10px;
    text-transform: uppercase;
}

.logo img {
    text-align: center;
}

.main-nav-right ul {
    padding-top: 15px;
    text-align: right; 
}

.main-nav-right li {
    text-transform: uppercase;
}

ul {
    list-style: none; /* removes bullet points */
}

li {
    display: inline-block; /* content aligned on same line*/
    padding-right: 10px;
    color: #a6a6a6;
}

a {
    text-decoration: none;
    color: #a6a6a6;
}

a:hover {
    text-decoration: none;
    color: white;
}

img {
    width: 70px;
    height: 25px;
    margin-top: 15px;
    margin-left: 50px;
} 

.dropdown-content {
    display: hidden;
}

.dropdown a:hover  .dropdown-content {
    display: block;
} /* Jan 4 stopping place. Trying to create a dropdown hover */